annotated-types==0.7.0
beautifulsoup4==4.14.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
dotenv==0.9.9
idna==3.10
lxml==6.0.2
markdown-it-py==4.0.0
mdurl==0.1.2
pathspec==0.12.1
pydantic==2.11.9
pydantic-core==2.33.2
pygfried==0.12.0
pygments==2.19.2
python-dotenv==1.1.1
requests==2.32.5
rich==14.1.0
shellingham==1.5.4
soupsieve==2.8
typer==0.19.2
typing-extensions==4.15.0
typing-inspection==0.4.1
urllib3==2.5.0
